.container {
  display: flex;
  align-items: center;
  width: 15em;
  height: 2.8em;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 0.5px solid #f2f5f9;
  border-radius: 0.8em 0.1em 0em 0em;
}
.container::after {
  border: 0.5px solid rgba(253, 253, 253, 1);
  content: "";
  position: absolute;
  width: 35%;
  height: 56%;
  top: 0;
  right: -47px;
  transform-origin: 47% 0;
  /* border-radius: -80em; */
  z-index: 1;
  transform: rotate(50deg);
  background-color: #f2f5f9;
  border-radius: 0.8em 0.8em 0em 0em;
}
.count,
.infoName {
  margin-left: 1em;
}
.count > p {
  background-color: red;
  border-radius: 50%;
  text-align: center;
  padding: 0.2em 0.3em;
  color: white;
  background: #5e8cc8;
}
